/*Global level Styles | start*/


body{
	background-color: #fafafa;
}

h1{
	font-family: 'Varela', sans-serif;	
}

.container{
	/*width: 95%;*/
	/*max-width: 95%;*/
}

/*Global level Styles | end*/


/*Landing section styles | start*/

nav{
	background: transparent;
	box-shadow: none;
	line-height: 80px;
	height: 80px;
	transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}


nav .brand-logo{
	height: 80%;
}

nav.sticky{
	line-height: 60px;
	height: 60px;
	background: #3498db;
}

.navbar-fixed{
	/*fix for IE stuttering issue*/
	position: fixed;
}

nav ul a:hover{
	background: none;
	transition: none;
}

nav ul a span{
	color: #212121;
	padding-left: 20px;
	padding-right: 20px;
}

nav ul a span.active{
	padding: 7px;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px #18ffff solid;
	color: #18ffff;
	border-radius: 20px;
}

.responsive-logo{
	max-height: 100%;
	width: auto;
}

.surge{
	font-weight: 500;	
	color: #18ffff;
}

.brand-logo .company_name{
	position: relative;
	top: -25%;
	color: #212121;
}

#landing_section{
	height: 100vh;
	overflow: hidden;
}

#intro{
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.player_wrapper iframe, .player_wrapper{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#intro .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background-color: rgba(1,87,155, 0.5);
	display: flex;
	align-items: center;
	/*rgb(1,87,155)*/
}

.player_content .main_content{
	font-size: 5em;
	margin-left: 5vw;
}

.intro_register{
	font-weight: bold;
	border-radius: 3px;
}

.event_date_card{
	height: 100%;
	width: 300px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), 5px 5px 25px 0 rgba(46,61,73,.4);
	border-radius: 5px;
	padding-top: 40px;
}

.event_date_card .title{
	color: #4568DC;
}

.event_date_card .date{
	color: #B06AB3;
	padding: 20px;
}

.event_date_card hr{
	height: 4px;
	background-color: #
	border: none;
}


/*Landing section styles | end*/


/*About section | start*/

#about_section{
	min-height: 80vh;
	z-index: 2;
}

.about_img{
	padding: 15px;
	background: #4568DC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
	background: linear-gradient(to right, #B06AB3, #4568DC);
}

/*About section | end*/


/*Stages section | start*/

#stages_section{
	position: relative;
}

.owl-stage{
	padding: 20px;
}

.item{
	margin-right: 20px;
}

#stages_section .heading{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #212121;
	color: #fafafa;
	font-size: 3em;
}

#stages_list .stage{
	height: 500px;
}

#stages_list .row{
	margin-bottom: 0;
}

.stage .stage_image_container{
	height: 100%;
	overflow: hidden;
	padding: 0;
}

.stage_image_container .stage_image{
	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(33,33,33,0.4), rgba(33,33,33,0.4)) , url("../assets/landing_img.jpg");
	background-size: cover;
	transition: all 500ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.stage .stage_content{
	height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

.stage:hover .stage_image{
	transform: scale(1.05);
}


/*Stages section | end*/


/*Speaker section | start*/

#speaker_section{
	min-height: 100vh;
	z-index: 20;
	padding-top: 30px;
	background: #18ffff;  /* fallback for old browsers */
}

.container_speaker{
	max-width: 80%;
}

.speaker_list{
	margin-top: 50px;
}

.speaker_card.card{
	margin: none;
}

.speaker_card{
	height: 100%;
}

.owl-stage{
	display: flex;
	height: 550px;
}

./*speaker_card .card-image{
	height: 60%;
	transform: skewY(-12deg);
	transform-origin: 0;
}*/

.card .card-image img{
	height: 30%;
	border-radius: 50%;	
}

.card .card-image img.speaker_img{
	margin-top: 50px;
	margin-bottom: 50px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	box-shadow: 0px 17px 20px 19px rgba(0, 255, 255, 0.08);
}

/*.speaker_card .card-image img,.speaker_card .card-image a{
	transform: skewY(12deg);
	transform-origin: 0;
}*/

.card img.social_icon{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 8px;
	margin: 5px;
}

#linkedin{
	background-color: #1976d2;
}

#facebook{
	background-color: #3f51b5;
}

#instagram{
	background: linear-gradient(rgb(255,196,0), rgb(245, 0, 87));
}

.speaker_card .card-action{
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
}

.speaker_card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
	color: purple;
}

.short_speaker_deescription{
	font-size: 1.1em;
}

/*Speaker section | end*/

/*Venue section | start*/

#map{
	height: 600px;
	background-image: url("https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyB-SlZUM9tGYFJLa4jN7ubhpZW6pSNm4dE&center=19.130983953194374,72.91260239999997&zoom=15&format=png&maptype=roadmap&style=element:geometry%7Ccolor:0x212121&style=element:labels.icon%7Cvisibility:off&style=element:labels.text.fill%7Ccolor:0x757575&style=element:labels.text.stroke%7Ccolor:0x212121&style=feature:administrative%7Celement:geometry%7Ccolor:0x757575&style=feature:administrative.country%7Celement:labels.text.fill%7Ccolor:0x9e9e9e&style=feature:administrative.land_parcel%7Cvisibility:off&style=feature:administrative.locality%7Celement:labels.text.fill%7Ccolor:0xbdbdbd&style=feature:poi%7Celement:labels.text.fill%7Ccolor:0x757575&style=feature:poi.park%7Celement:geometry%7Ccolor:0x181818&style=feature:poi.park%7Celement:labels.text.fill%7Ccolor:0x616161&style=feature:poi.park%7Celement:labels.text.stroke%7Ccolor:0x1b1b1b&style=feature:road%7Celement:geometry.fill%7Ccolor:0x2c2c2c&style=feature:road%7Celement:labels.text.fill%7Ccolor:0x8a8a8a&style=feature:road.arterial%7Celement:geometry%7Ccolor:0x373737&style=feature:road.highway%7Celement:geometry%7Ccolor:0x3c3c3c&style=feature:road.highway.controlled_access%7Celement:geometry%7Ccolor:0x4e4e4e&style=feature:road.local%7Celement:labels.text.fill%7Ccolor:0x616161&style=feature:transit%7Celement:labels.text.fill%7Ccolor:0x757575&style=feature:water%7Celement:geometry%7Ccolor:0x000000&style=feature:water%7Celement:labels.text.fill%7Ccolor:0x3d3d3d&size=800x600");
	background-repeat: no-repeat;


}

/*Venue section | end*/

/*Media Queries*/


@media only screen and (max-width: 500px){
	.nav-wrapper.container{
		width: 100%;
	}
}

/*@media only screen and (max-width: 998px){
	#intro{
		padding-top: 200px;
	}

	#landing_section{
		height: auto;
	}
}*/

@media (min-aspect-ratio: 16/9) {
  .player_wrapper {height: 300%;top: -100%;}
}



/*Test styles | start*/

#owl-promo{
	height: 80vh;
}

#owl-promo .item{
	height: 250px;
	width: 250px;
	background-color: pink;
}

/*Test styles | end