/*Global level Styles | start*/

body{
	background-color: #fafafa;
}

/*Global level Styles | end*/


/*Landing section styles | start*/

nav{
	background-color: transparent;
	box-shadow: none;
	line-height: 90px;
	height: 90px;
	transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

nav .brand-logo{
	height: 100%;
	padding: 10px;
}

nav.sticky{
	line-height: 60px;
	height: 60px;
	background: #4568DC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
	background: linear-gradient(to right, #B06AB3, #4568DC);
	box-shadow: 0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05);
}

.navbar-fixed{
	/*fix for IE stuttering issue*/
	position: fixed;
}

.responsive-logo{
	max-height: 100%;
	width: auto;
}

#landing_section{
	height: 100vh;
	overflow: hidden;
}

#stripes{
	position: absolute;
	top: 0;
	width: 100%;
	height: 80%;
	background: #4568DC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
	background: linear-gradient(to right, #B06AB3, #4568DC);
	transform: skewY(-15deg);
	transform-origin: 0;
	z-index: -1;
	box-shadow: 0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05);
}

#intro{
	height: 100%;
	display: flex;
	align-items: center;
}

#intro .company_name{
	text-shadow: 0 3px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.23);
}

#intro .title_card{
	background-color: #fafafa;
	padding: 50px;
	box-shadow: 5px 5px 25px 0 rgba(46,61,73,.4);
	border-radius: 10px;
}

.event_date_card{
	height: 300px;
	width: 300px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), 5px 5px 25px 0 rgba(46,61,73,.4);
	border-radius: 5px;
	padding-top: 40px;
}

.event_date_card .title{
	color: #4568DC;
}

.event_date_card .date{
	color: #B06AB3;
}

.event_date_card hr{
	height: 4px;
	background: #4568DC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
	background: linear-gradient(to right, #B06AB3, #4568DC);
	border: none;
}

/*Landing section styles | end*/


/*About section | start*/

#about_section{
	min-height: 80vh;
	z-index: 2;
}

.about_img{
	padding: 15px;
	background: #4568DC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
	background: linear-gradient(to right, #B06AB3, #4568DC);
}

/*About section | end*/


/*Stages section | start*/

#stages_section{
	min-height: 90vh;
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
}

#stages_section::before{
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 120%;
	background-color: #ecf0f1;
	box-shadow: 0 -2px 6px rgba(0,21,64,.14), 0 -10px 20px rgba(0,21,64,.05);
	transform: skewY(-9deg);
	transform-origin: 0;
	z-index: -1;
}

.stage{
	display: flex;
	align-items: center;
	padding: 20px;
	background-color: #fafafa;
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05);
	cursor: pointer;
	transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.stage:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.14), 0 10px 10px rgba(0,0,0,0.05);
}

.stage_image_container{
	display: flex;
	justify-content: center;
}

.stage .stage_image{
	width: 80%;
	padding-top: 80%;
	border-radius: 50%;
	background: #4568DC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
	background: linear-gradient(to right, #B06AB3, #4568DC);
}

/*Stages section | end*/


/*Speaker section | start*/

#speaker_section{
	min-height: 100vh;
	z-index: 20;
	padding-top: 30px;
	background: #4568DC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
	background: linear-gradient(to right, #B06AB3, #4568DC);
	box-shadow: 0 -2px 6px rgba(0,21,64,.14), 0 -10px 20px rgba(0,21,64,.05);
}

.speaker_list{
	margin-top: 50px;
}

.speaker_card.card{
	margin: none;
}

.speaker_card{
	height: 100%;
}

.owl-stage{
	display: flex;
	height: 550px;
}

.speaker_card .card-image{
	height: 60%;
	transform: skewY(-12deg);
	transform-origin: 0;
}

.speaker_card .card-image img,.speaker_card .card-image a{
	transform: skewY(12deg);
	transform-origin: 0;
}

.speaker_card .card-action{
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
}

.speaker_card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
	color: purple;
}

.short_speaker_deescription{
	font-size: 1.1em;
}

/*Speaker section | end*/



/*Media Queries*/

@media only screen and (min-width: 1300px){
	#stages_section .container{
		width: 60%;
	}
}

@media only screen and (min-width: 1500px){
	#stages_section .container{
		width: 50%;
	}
}

@media only screen and (max-width: 500px){
	.nav-wrapper.container{
		width: 100%;
	}
}



/*Test styles | start*/

#owl-promo{
	height: 80vh;
}

#owl-promo .item{
	height: 250px;
	width: 250px;
	background-color: pink;
}

/*Test styles | end*/